{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}
<h1>Password Change Request</h1>

<div class="col-lg-10 offset-lg-1">
<form method="post" class="accountform">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email|as_crispy_field }} 
    <div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane button-icon" aria-hidden="true"></i>Send Password Reset Email</button>
    </div>
</form>
</div>
{% endblock %}