{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
    {% if validlink %}
    <h1>Change Password</h1>
    <div class="col-lg-10 offset-lg-1">
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div>
            {{ form.new_password1|as_crispy_field }}
            </div>
            <div>
            {{ form.new_password2|as_crispy_field }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o button-icon"></i>Update Password</button>
            </div>
        </form>
    </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}