{% extends 'base.html' %}

{% block title %}Student Profile{% endblock %}

{% block content %}

<h1>Profile of {{ student }}</h1>
<div class="col-lg-10 offset-lg-1">
    <div class="row message">
        {% if messages %}
            {% for message in messages %}
                <p><i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <h3>Personal Information</h3>
    <div class="col-12">
        <div class="table-content table-responsive">
            <table>
                <tr>
                    <td><b>First name: </b></td>
                    <td>{{ student.first_name }}</td>
                </tr>
                <tr>
                    <td><b>Last name: </b></td>
                    <td>{{ student.last_name }}</td>
                </tr>
                <tr>
                    <td><b>Date of birth: </b></td>
                    <td>{{ student.date_of_birth }}</td>
                </tr>
                <tr>
                    <td><b>Year Group: </b></td>
                    <td>{{ year_group }}</td>
                </tr>
                {% if user.is_staff %}
                    <tr>
                        <td><b>Price per lesson: </b></td>
                        <td>£{{ student.price_per_lesson }}</td>
                    </tr>
                {% endif %}
                {% if student.notes %}
                    {% if user.is_staff or user.is_tutor %}
                    <tr>
                        <td><b>Notes: </b></td>
                        <td>{{ student.notes }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
            </table>
        </div>
    </div>
    {% if user.is_staff %}
        <div class="col-12 button-spacing">
            <a href="{% url 'staffuser:update_student' student_id=student.id %}">
                <button type="button" class="btn btn-primary"><i class="fa fa-pencil button-icon" aria-hidden="true"></i>Edit Profile</button>
            </a>
        </div>
    {% elif user.is_parent %}
        <div class="row col-12">
            <h6><b>If any information is incorrect or needs changing, please contact a member of staff.</b></h6>
        </div>
    {% endif %}
    
    <h3>Parent Information</h3>
    <div class="col-12">
        {% if user.is_staff %}
            <p><a class="page-links" href="{% url 'staffuser:parent_profile' parent_id=parent.id %}">{{ parent }}</a> - {{ student.relationship }}</p>
        {% elif user.is_parent %}
            <p><a class="page-links" href="{% url 'parentuser:parent_profile' %}">{{ parent }}</a> - {{ student.relationship }}</p>
        {% elif user.is_tutor %}
            <div class="table-content table-responsive">
                <table>
                    <tr>
                        <td><b>{{ student.relationship }}: </b></td>
                        <td>{{ parent }}</td>
                    </tr>
                    <tr>
                        <td><b>Telephone: </b></td>
                        <td>{{ parent.telephone }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
</div>



{% endblock %}

