{% extends 'base.html' %}

{% block title %}Parent Profile{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Profile of {{ parent }}</h1>

<p><b>Email: </b>{{ parent.user.email }}</p>
<p><b>Address: </b>{{ parent.address1 }}</p>

{% if user.is_staff %}
<a href="{% url 'staffuser:update_parent_profile' parent_id=parent.id %}">Edit Profile</a>
{% elif user.is_parent %}
<p>If any information is incorrect or needs changing, please contact a member of staff.</p>

{% endif %}

<h3>Students</h3>
{% for student in students %}
{% if user.is_staff %}
<p><a href="{% url 'staffuser:student_profile' student_id=student.id %}">{{ student }}</a></p>
{% else %}
<p><a href="{% url 'parentuser:student_profile' student_id=student.id %}">{{ student }}</a></p>
{% endif %}
{% endfor %}
{% if user.is_staff %}
<p><a href="{% url 'staffuser:add_student' parent_id=parent.id %}">Create a student</a></p>
{% endif %}
{% endblock %}