{% extends 'base.html' %}

{% block title %}Parent Profile{% endblock %}

{% block content %}

<h1>Profile of {{ parent }}</h1>
<div class="col-lg-10 offset-lg-1">
    <div class="row message">
        {% if messages %}
            {% for message in messages %}
                <p><i class="fa fa-exclamation-circle fa-lg"></i>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Address</h3>
            <div class="address-info">
                <p>{{ parent.address1 }}, {{ parent.address2 }},</p>
                <p>{{ parent.town_or_city }},</p>
                <p>{{ parent.county }},</p>
                <p>{{ parent.post_code }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h3>Contact Information</h3>
            <div class="contact-info">
                <table class="contact-table">
                    <tr>
                        <td><b>Email: </b></td>
                        <td class="contact-column">{{ parent.user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Telephone: </b></td>
                        <td class="contact-column">{{ parent.telephone }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12">
            {% if user.is_staff %}
                <p><a href="{% url 'staffuser:update_parent_profile' parent_id=parent.id %}"><button type="button" class="btn btn-primary">Edit Profile</button></a></p>
            {% elif user.is_parent %}
                <p><b>If any information is incorrect or needs changing, please contact a member of staff.</b></p>
            {% endif %}
        </div>
        <div class="col-12 parents-students">
            <h3>Students</h3>
            {% for student in students %}
                {% if user.is_staff %}
                    <p><a class="page-links" href="{% url 'staffuser:student_profile' student_id=student.id %}">{{ student }}</a></p>
                {% else %}
                    <p><a class="page-links" href="{% url 'parentuser:student_profile' student_id=student.id %}">{{ student }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-12">
            <p><a href="{% url 'staffuser:add_student' parent_id=parent.id %}"><button type="button" class="btn btn-success">Create a student</button></a></p>
        </div>
    </div>
</div>

{% endblock %}