{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Update Parent Profile{% endblock %}


{% block content %}

<h1>Update Parent Profile - {{ parent }}</h1>
<div class="col-lg-10 offset-lg-1">
    <form method='POST'>
        {% csrf_token %}
        {{ parent_profile_form|crispy }}
        <div class="button-spacing">
            <button type="submit" class="btn btn-success"><i class="fa fa-check button-icon" aria-hidden="true"></i>Update Profile</button>
        </div>
    </form>
</div>
{% endblock %}