{% extends 'base.html' %}

{% block title %}Add Staff{% endblock %}

{% block admin_content %}
<h1>Add Staff User</h1>

<form method='POST'>
    {% csrf_token %}
    {{ staff_user_form.as_p }}
    <input type='submit' value='Save' />
</form>
{% endblock %}

{% block staff_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block tutor_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block parent_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block not_user_content %}
<p>You must be logged in to view this page.</p>
{% endblock %}