{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Hello, adminuser!</h1>
        
<div>
    <a href="{% url 'adminuser:add_centre' %}">Add Centre</a>
</div>

<div>
    <a href="{% url 'adminuser:add_staff' %}">Add Staff User</a>
</div>

<div>
    <a href="{% url 'adminuser:get_intake' request_date=todays_date %}">Intake</a>
</div>

{% endblock %}