{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block admin_content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Hello, adminuser!</h1>
        
<div>
    <a href="{% url 'adminuser:add-centre' %}">Add Centre</a>
</div>

<div>
    <a href="{% url 'adminuser:add-staff' %}">Add Staff User</a>
</div>

{% endblock %}

{% block staff_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block tutor_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block parent_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block not_user_content %}
<p>You must be logged in to view this page.</p>
{% endblock %}