{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block content %}

<h1>Students</h1>
<div class="col-lg-10 offset-lg-1">
    <div class="row message">
        {% if messages %}
            {% for message in messages %}
                <p><i class="fa fa-exclamation-circle fa-lg"></i>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <h4>Search student by name</h4>
    <form action="{% url 'staffuser:students' %}" method="get">
                <div class="row">
            <div class="col-9">
                <input type="text" name="q" class="textinput textInput form-control" id="id_q">
            </div>
            <div class="col-3 text-right">
                <button type="submit" class="btn btn-primary search-button"><i class="fa fa-search button-icon"></i><span class="search-text">Search</span></button>
            </div>
        </div>
    </form>
    <div class="search-list">
        <h4 class="row search-title">Students</h4>
        {% if students %}
            {% for student in students %}
                {% if student.parent.user.is_active %}
                <div class="row search-list-item">
                    <div class="col-12 col-md-4">
                        <p class="search-name">{{ student }}</p>
                    </div>
                    <div class="col-10 offset-1 offset-md-0 col-md-3 text-right">
                        <p><a href="{% url 'staffuser:student_profile' student_id=student.id %}"><button type="button" class="btn btn-primary view-button">View Profile</button></a></p>
                    </div>
                    <div class="col-10 offset-1 offset-md-0 col-md-3 text-right">
                        <p><a href="{% url 'staffuser:add_student_lesson' student_id=student.id %}"><button type="button" class="btn btn-success add-button">Add to lesson</button></a></p>
                    </div>
                    <div class="col-10 offset-1 offset-md-0 col-md-2 text-right">
                        <p><a href="{% url 'staffuser:delete_student' student_id=student.id %}"><button type="button" class="btn btn-danger delete-button">Delete</button></a></p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No results matching the name entered.</p>
        {% endif %}
    </div>
</div>
{% endblock %}