{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/Wind-icon.png' %}"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
                {% if user.is_admin %}
                <li><a href="{% url 'adminuser:dashboard' %}">Dashboard</a></li>
                {% elif user.is_staff %}
                <li><a href="{% url 'staffuser:dashboard' %}">Dashboard</a></li>
                {% elif user.is_tutor %}
                <li><a href="#">Dashboard</a></li>
                {% elif user.is_parent %}
                <li><a href="#">Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'password_change' %}">Change Password</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>