{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Lesson to Student{% endblock %}

{% block content %}

<h1>Add Student to Lesson</h1>

<div class="col-lg-10 offset-lg-1">
    <h3>Lesson Details</h3>
    <div class="col-12 table-content">
        <table>
            <tr>
                <td><b>Tutor: </b></td>
                <td>{{ lesson.tutor }}</td>
            </tr>
            <tr>
                <td><b>Subject: </b></td>
                <td>{{ lesson.subject }}</td>
            </tr>
            <tr>
                <td><b>Date: </b></td>
                <td>{{ lesson.date|date:"d F Y" }}</td>
            </tr>
            <tr>
                <td><b>Time: </b></td>
                <td>{{ lesson.time }}</td>
            </tr>
            <tr>
                <td><b>Duration: </b></td>
                <td>{{ hours_and_minutes.hours }} hr {{ hours_and_minutes.minutes }} mins</td>
            </tr>
        </table>
    </div>
    
    <h3>Select Student To Add</h3>
    <form method='POST'>
        {% csrf_token %}
        {{ student_lesson_form|crispy }}
        <div class="button-spacing">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus button-icon"></i>Add Student To Lesson</button>
        </div>
    </form>
</div>
{% endblock %}