{% extends 'base.html' %}

{% block title %}Delete Lesson{% endblock %}

{% block content %}

<h1>Confirm Lesson Delete</h1>
<div class="col-lg-10 offset-lg-1">
    <h3>Are you sure you want to delete the following lesson?</h3>
    
    <div class="col-12 table-content">
        <table>
            <tr>
                <td><b>Tutor: </b></td>
                <td>{{ lesson.tutor }}</td>
            </tr>
            <tr>
                <td><b>Subject: </b></td>
                <td>{{ lesson.subject }}</td>
            </tr>
            <tr>
                <td><b>Date: </b></td>
                <td>{{ lesson.date|date:"d F Y" }}</td>
            </tr>
            <tr>
                <td><b>Time: </b></td>
                <td>{{ lesson.time }}</td>
            </tr>
            <tr>
                <td><b>Duration: </b></td>
                <td>{{ hours_and_minutes.hours }} hr {{ hours_and_minutes.minutes }} mins</td>
            </tr>
        </table>
    </div>
    
    <div class="row col-12">
        <div class="col-6 button-spacing">
            <p><a href="{% url 'staffuser:delete_lesson' lesson_id=lesson.id %}">
                <button type="button" class="btn btn-danger"><i class="fa fa-trash button-icon" aria-hidden="true"></i>Delete Lesson</button>
            </a></p>
        </div>
        <div class="col-6 text-right button-spacing">
            <p><a href="{% url 'staffuser:get_lesson_detail' lesson_id=lesson.id %}">
                <button type="button" class="btn btn-secondary"><i class="fa fa-arrow-left button-icon" aria-hidden="true"></i>Go Back</button>
            </a></p>
        </div>
    </div>
</div>
{% endblock %}

        