{% extends 'base.html' %}

{% block content %}

<h1>Lesson details</h1>

<p>{{ lesson.tutor }}</p>
<p>{{ lesson.subject }}</p>
<p>{{ lesson.date }}</p>
<p>{{ lesson.time }}</p>

<p><a href="{% url 'staffuser:update_lesson_detail' lesson_id=lesson.id %}">Edit Lesson</a></p>

{% for student in lesson.student_set.all %}
    <p><a href="{% url 'staffuser:student_profile' student_id=student.id %}">{{ student.get_long_name }}</a></p>
    <p><a href="{% url 'staffuser:remove_student_from_lesson_confirm' lesson_id=lesson.id student_id=student.id %}">Remove Student</a></p>
{% endfor %}
<p><a href="{% url 'staffuser:add_student_to_lesson' lesson_id=lesson.id %}">Add student to this lesson</a></p>

<p><a href="{% url 'staffuser:delete_lesson_confirm' lesson_id=lesson.id %}">Delete Lesson</a></p>

{% endblock %}