{% extends 'base.html' %}

{% block title %}View Lessons{% endblock %}

{% block content %}
    <h1>View Sessions</h1>
    {% if wrong_view_date %}
    <h2>Whoops...</h2>
    <p>View date entered was either an invalid date or not a Monday.</p>
    {% else %}
    <p><a href="{% url 'staffuser:add_lesson' %}">Create New Lesson</a></p>
    <h2>Week commencing {{ view_date|date:"d F Y" }}</h2>
    {% for day in days_of_the_week %}
    <h2>{{ day.capitalize }}</h2>
        {% for lesson in lessons %}
            {% if lesson.day == day %}
            <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">{{ lesson.tutor.first_name }} {{ lesson.tutor.last_name }} - {{ lesson.subject.capitalize }} - {{ lesson.time }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Students</th>
                    </tr>
                    {% for student in lesson.student_set.all %}
                    <tr>
                      <td scope="row">{{ student.first_name }} {{ student.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="col-lg-4 col-md-3"> 
                <p>{{ lesson.tutor.first_name }} {{ lesson.tutor.last_name }} - {{ lesson.subject.capitalize }}</p>
                <h4>Students</h4>
                {% for student in lesson.student_set.all %}
                <p>{{ student.first_name }} {{ student.last_name }}</p>
                {% endfor %}
                <p><a href="{% url 'staffuser:get_lesson_detail' lesson_id=lesson.id %}">View/Edit Lesson</a></p>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <a href="{% url 'staffuser:get_lessons' mondays_date=previous_week %}">Previous Week</a>
    <a href="{% url 'staffuser:get_lessons' mondays_date=next_week %}">Next Week</a>
    {% endif %}
{% endblock %}