{% extends 'base.html' %}

{% block title %}View Lessons{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% if unpaid_lessons %}
    <h1>Unpaid lessons</h1>
    {% for lesson in unpaid_lessons %}
        <p>{{ lesson.1 }}</p>
        <p>{{ lesson.0 }}</p>
        <p>{{ lesson.0.price_per_lesson }}</p>
        <p><a href="{% url 'parentuser:make_payment' parent_id=lesson.0.parent.id student_id=lesson.0.id lesson_id=lesson.1.id %}">Pay for Lesson</a></p>
    {% endfor %}
{% endif %}

<h1>Upcoming Lessons</h1>

{% for lesson in future_lessons %}
    {% for student in students %}
        {% if student in lesson.student_set.all %}
            <p>{{ lesson }}</p>
            <p>{{ student }}</p>
            <p>{{ student.price_per_lesson }}</p>
            {% for payment in payments %}
            {% if payment.lesson_id == lesson.id %}
                {% if payment.student_id == student.id %}
                    <p>Lesson paid</p>
                {% else %}
                    <p><a href="{% url 'parentuser:make_payment' parent_id=student.parent.id student_id=student.id lesson_id=lesson.id %}">Pay for Lesson</a></p>
                {% endif %}
            {% endif %}
            {% endfor %}
            <p><a href="{% url 'parentuser:remove_student_from_lesson_confirm' lesson_id=lesson.id student_id=student.id %}">Cancel Lesson</a></p>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}