{% extends 'base.html' %}

{% block title %}Intake{% endblock %}

{% block content %}

<h1>Intake</h1>
{% if unpaid_lessons %}
<div class="col-12">
    <h2>Unpaid Lessons</h2>
    <p>{{ unpaid_lessons|length }} lessons need action.</p>
</div>
    <div class="row col-12">
        <div id="unpaid-wrapper" class="row col-12">
            {% for unpaid_lesson in unpaid_lessons %}
                <div class="col-12 intake-unpaid">
                        <table class="table unpaid-table">
                            <thead>
                                <tr>
                                    <th scope="col">{{ unpaid_lesson.1 }}</th>
                                    <th scope="col">{{ unpaid_lesson.2.subject }} - {{ unpaid_lesson.2.day.capitalize }}</th>
                                    <th scope="col">{{ unpaid_lesson.2.date }} - {{ unpaid_lesson.2.time }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td scope="row"><b>Parent: </b>{{ unpaid_lesson.0 }}</td>
                                  <td scope="row"><b>Telephone: </b>{{ unpaid_lesson.0.telephone }}</td>
                                  <td scope="row"><b>Amount Owed: </b>£{{ unpaid_lesson.1.price_per_lesson }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            {% endfor %}
        </div>
        <div class="col-12" id="show-unpaid-button">
            <button class="btn btn-info"><i class="fa fa-caret-down button-icon" aria-hidden="true"></i>Show Unpaid Lessons</button>
        </div>
        <div class="col-12" id="hide-unpaid-button">
            <button class="btn btn-info"><i class="fa fa-caret-up button-icon" aria-hidden="true"></i>Hide Unpaid Lessons</button>
        </div>
    </div>
{% endif %}
<div class="col-12">
    <h3>{{ current_month_name }} {{ current_year }}</h3>
    <div class="float-right">
        <h3><b>Total: </b>£{{ rounded_intake }}</h3>
    </div>
</div>
<div class="col-12 table-responsive">
    <table class="table money-table">
        <thead>
            <tr>
                <th>Parent</th>
                <th>Student</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Centre</th>
                <th>Amount Paid</th>
                <th>Date Paid</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.first_name }} {{ payment.last_name }}</td>
            <td>{{ payment.student_first_name }} {{ payment.student_last_name }}</td>
            <td>{{ payment.date }}</td>
            <td>{{ payment.subject }}</td>
            <td>{{ payment.centre_name }}</td>
            <td>£{{ payment.amount_paid }}</td>
            <td>{{ payment.date_paid }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6 button-spacing">
        <p><a class="page-links" href="{% url 'staffuser:get_intake' request_date=last_month %}">
            <button type="button" class="btn btn-success"><i class="fa fa-arrow-left button-icon" aria-hidden="true"></i>Last Month</button>
        </a></p>
    </div>
    <div class="col-6 button-spacing text-right">
        <p><a class="page-links" href="{% url 'staffuser:get_intake' request_date=next_month %}">
            <button type="button" class="btn btn-success">Next Month<i class="fa fa-arrow-right button-icon-right" aria-hidden="true"></i></button>
        </a></p>
    </div>
</div>
{% endblock %}