{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Hello, {{ parent }}!</h1>
 

<div>
    <a href="{% url 'parentuser:get_student_lessons' %}">View Lessons</a>
</div>

<div>
    <a href="{% url 'parentuser:get_payments' %}">Paid Lessons</a>
</div>

<div>
    <a href="{% url 'parentuser:parent_profile' %}">View Profile</a>
</div>

{% endblock %}