{% extends 'base.html' %}

{% block title %}Add Session{% endblock %}

{% block staff_content %}

<h1>Add Session</h1>
<form method='POST'>
    {% csrf_token %}
    {{ tutor_session_form.as_p }}
    <input type='submit' value='Save' />
</form>

{% endblock %}

{% block admin_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block tutor_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block parent_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block not_user_content %}
<p>You must be logged in to view this page.</p>
{% endblock %}