{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Hello, staff member!</h1>
 

<div>
    <a href="{% url 'staffuser:get-lessons' mondays_date=mondays_date %}">View Lessons</a>
</div>

<div>
    <a href="{% url 'staffuser:add-tutor' %}">Tutors</a>
</div>

<div>
    <a href="{% url 'staffuser:parents' %}">Parents</a>
</div>

<div>
    <a href="{% url 'staffuser:students' %}">Students</a>
</div>

<div>
    <a href="{% url 'staffuser:add-tutor' %}">Tutors</a>
</div>

<div>
    <a href="#">Intake</a>
</div>



{% endblock %}