{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

<h1>Hello, {{ user.centre.centre_name }} Staff</h1>

<div class="row message">
    {% if messages %}
        {% for message in messages %}
            <p><i class="fa fa-exclamation-circle fa-lg"></i>{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>

<div class="row dashboard">
    <div class="col-lg-4 text-center">
        <a class="dashboard-link" href="{% url 'staffuser:get_lessons' mondays_date=mondays_date %}">
            <div class="dashboard-box">
                <i class="fa fa-calendar-check-o fa-5x dashboard-icon" aria-hidden="true"></i>
                <h3>View Lessons</h3>
                <p>Click here to view, edit or delete lessons.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a class="dashboard-link" href="{% url 'staffuser:parents' %}">
            <div class="dashboard-box">
                <i class="fa fa-users fa-5x dashboard-icon" aria-hidden="true"></i>
                <h3>Parents</h3>
                <p>Click here to add, search, deactivate or delete a parent user, or see/update their profile.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a class="dashboard-link" href="{% url 'staffuser:students' %}">
            <div class="dashboard-box">
                <i class="fa fa-child fa-5x dashboard-icon" aria-hidden="true"></i>
                <h3>Students</h3>
                <p>Click here to add or delete students, or see/update their profiles.</p>
            </div>
        </a>
    </div>
    
    <div class="col-lg-4 offset-lg-2 text-center">
        <a class="dashboard-link" href="{% url 'staffuser:tutors' %}">
            <div class="dashboard-box">
                <i class="fa fa-graduation-cap fa-5x dashboard-icon" aria-hidden="true"></i>
                <h3>Tutors</h3>
                <p>Click here to add or delete tutors, or see their profiles or earnings.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a class="dashboard-link" href="{% url 'staffuser:get_intake' request_date=todays_date %}">
            <div class="dashboard-box">
                <i class="fa fa-money fa-5x dashboard-icon" aria-hidden="true"></i>
                <h3>Intake</h3>
                <p>Click here to see monthly intake and a breakdown of payments.</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}