{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block staff_content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>Hello, staff member!</h1>
        
<div>
    <a href="{% url 'staffuser:add-parent' %}">Add A Parent</a>
</div>

<div>
    <a href="{% url 'staffuser:add-tutor' %}">Add A Tutor</a>
</div>

<div>
    <a href="{% url 'staffuser:add-session' %}">Add A Session</a>
</div>

<div>
    <a href="{% url 'staffuser:add-student' %}">Add A Student</a>
</div>

<div>
    <a href="{% url 'staffuser:add-student-session' %}">Add Student Session</a>
</div>

{% endblock %}

{% block admin_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block tutor_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block parent_content %}
<p>You do not have the permissions to view this page.</p>
{% endblock %}

{% block not_user_content %}
<p>You must be logged in to view this page.</p>
{% endblock %}