{% extends 'base.html' %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
    {% if user.is_staff %}
        <h1>Hello, staff member!</h1>
        
        <div>
            <a href="{% url 'staffuser:add-parent' %}">Add A Parent</a>
        </div>
        
        <div>
            <a href="{% url 'staffuser:add-tutor' %}">Add A Tutor</a>
        </div>
        
        <div>
            <a href="{% url 'staffuser:add-session' %}">Add A Session</a>
        </div>
    {% else %}
        <p>You do not have the permissions to view this page</p>
    {% endif %}
{% else %}
    <p>You must be logged in to see this page</p>
{% endif %}
{% endblock %}